body {
    font-family: 'Poppins', sans-serif;
    background-color: #e6e6e6;
    color: #F5E1C4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #e6e6e6;
    padding: 20px;
    text-align: center;
    color: #00ADB5;
}

h1, h2, h3 {
    color: #00ADB5;
}

.indice {
    padding: 1%;
    margin: 1%;
    background-color: #2E2E2E;
    border-radius: 10px;
}
.menú {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
}


nav a {
    text-decoration: none;
    color: #FF2E63;
    font-weight: bold;
}

nav a:hover {
    color: #00ADB5;
}

section, article, aside {
    background-color: #2E2E2E;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0%;
}

.contenido{
    flex: 5;
}

.Noticias{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    gap: 1rem;
}

.Noticia{
    background-color: #e6e6e6;
    color: #2E2E2E;
    border-radius: 5px;
    padding: 1rem;
}

footer {
    background-color: #2E2E2E;
    text-align: center;
    padding: 20px;
    color: #B0B0B0;
}

a img {
    margin: 0 5px;
    transition: transform 0.3s ease;
}

a img:hover {
    transform: scale(1.5);
}
