/* Estilo para el section del libro */
section {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: #2E2E2E;
    border-radius: 10px;
    margin-bottom: 20px;

}

/* Encabezado dentro de la sección */
section h2 {
  color: #00ADB5;
  font-size: 24px;
  flex: 1 1 100%;
  margin: 0 0 10px 0;
}

/* Imagen del libro */
.imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.imagen img {
    max-width: 250px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

/* Estilos para el artículo */
article {
  background-color: #2E2E2E;
  color: #e6e6e6;
  padding: 20px;
  border-radius: 10px;
  text-align: justify;
}

/* Enlace dentro del artículo */
article a {
  color: #00ADB5;
  text-decoration: none;
}

article a:hover {
  text-decoration: underline;
}

/* Responsive para móviles */
@media (max-width: 768px) {
  section {
    flex-direction: column;
    text-align: center;
  }

  section img {
    width: 80%;
  }

  section h2 {
    text-align: center;
  }
}
